.image{
border:5px solid black;
}

.center{
text-align:center;
font-size:400%;
background-color:tomato;
color:black;
}

#para{
text-align:center;
color:Navy;
font-size:200%;
}

h1{
color:red;
}


body{
background-color:#f0f0f0;
margin:20px;
}

img{
margin:10px;
border:double;

}